<!DOCTYPE html>
<html lang="en">
<head>
  <title>User Management :: Demo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script type='text/javascript' src="js/customFunctions.js"></script>

</head>
<body>

<div class="container">
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/articles">Articles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact">Contact Us</a>
    </li>    
    <li class="nav-item">
      <% if(user) { %>
      <a class="nav-link" href="/logout">Logout</a>
      <% } else { %>
      <a class="nav-link" href="/login">Login</a>
      <% } %>
    </li>
  </ul>
</nav> 