<% include header %>

<div class="jumbotron">
  <h1>Logout</h1> 
<% if(message!=null) { %>
<div class="alert alert-success">
<strong>Success!</strong> <%= message %>
</div>
<% } %>

<h1>Welcome! <%= user.email%></h1>

<a href="/logout" class="btn btn-primary">Logout</a>
</div>

</div>

<% include footer %>